.DS_Store
.env
.env.*
!.env.example
!.env.example.*

**/node_modules/
**/.vite/
**/dist/
**/vendor/
**/*.log

bcms-pro-main/storage/*.key
bcms-pro-main/storage/logs/
bcms-pro-main/storage/framework/cache/data/
bcms-pro-main/storage/framework/sessions/
bcms-pro-main/storage/framework/views/
bcms-pro-main/bootstrap/cache/*.php
